:root{
    --text-color: #B94264;
    --main-bg: #FAFAFA;
    --container-bg: #F0F0F0;
    --highligh-bg: rgba(218,161,177, .8);
    /* DAA1B1  */
    /* #FAFAFA */
}
*{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    margin: 0;
    padding: 125px 250px 250px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--main-bg);
}

a{
    text-decoration: underline;
}

.container{
    display: flex;
    width: 1000px;
    margin: auto;
    /* border: 1px solid black; */
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 5px 10px 18px var(--highligh-bg);
    /* margin-bottom: 150px; */
}

.top-bar{
    flex: 1;
    height: 275px;
    flex-basis: 100%;
    background: var(--container-bg);
    display: flex;  
    justify-content: center;
    flex-direction: column;
}

.left-bar{
    align-self: flex-start;
    flex: 2;
    width: 30%;
    flex-basis: 30%;
    display: inline-block;
    height: 850px;
    background: #d1ddd3;
}

.right-bar{
    align-self: flex-end;
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 850px;
    background: var(--container-bg);
    /* justify-content: center; */
}

.main-title{
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 10px;
    font-size: 36px;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    /* display: inline-block; */
    text-align: center;
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px; 
    /* margin: 85px; */
    /* margin-top: 60px; */
    /* margin-bottom: 105px; */
    width: 50%;
    margin:auto;
    margin-top:0;
    margin-bottom: 0;
    /* margin-left: auto;
    margin-right: auto; */
    /* align-content: center; */
}

.role{
    color: var(--text-color);
    /* border: 1px solid white; */
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 10px;
    font-size: 16px;
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px; 
    text-align: center;
    width: 45%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0;
}

.bottom-border{
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    border: 1px solid var(--text-color);
    width: 320px;
}

.left-bar{
    display: flex;
    flex-direction: column;
    background-color: var(--highligh-bg);
    /* justify-content: center; */
}

.left-bar-title{
    padding: 0 35px 0 0;
    font-size: 20px;
    align-self: flex-end;
    font-weight: bolder;
    /* margin: 10px 0 10px 0; */
    margin-bottom: 5px;
    letter-spacing: 5px;
    color: var(--text-color)
}

.left-bar-title:first-of-type{
    margin-top: 120px;
}

.specializations{
    align-self: flex-end;
    font-size: 14px;
    width: 220px;
    text-align: end;
    padding: 0px 35px 0 0;
    margin-bottom: 0;
    margin-top: 14px;
    text-decoration: none;
    color: var(--container-bg);
}

.underline{
    text-decoration: underline;
}

.right-bar-heading{
    padding: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.right-bar-heading:first-of-type{
    margin-top: 120px;
}

.right-bar-regards{
    padding-left: 35px;
}

.signature{
    font-family: 'Great Vibes', cursive;
    font-size: 22px;
    padding-left: 35px;
    font-weight: bold;
    margin-top: 7.5px;
}

.main-padding{
    padding: 35px;
    padding-top: 0;
    padding-bottom: 15px;
    letter-spacing: -1px;
}

@media only screen and (max-width: 1000px){
    .container{
        display: flex;
        width: 100%;
        margin: auto;
        /* border: 1px solid black; */
        flex-direction: column;
        flex-wrap: wrap;
        box-shadow: 5px 10px 18px #ccc;
        /* margin-bottom: 150px; */
    }

    .top-bar {
        flex: 1;
        height: 275px;
        flex-basis: 100%;
        background: #333;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .main-title {
        font-family: 'Roboto Mono', monospace;
        letter-spacing: 10px;
        font-size: 20px;
        color: #fff;
        border: 2px solid #fff;
        /* display: inline-block; */
        text-align: center;
        padding: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        /* margin: 85px; */
        /* margin-top: 60px; */
        /* margin-bottom: 105px; */
        width: 80%;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
        /* align-content: center; */
    }

    .role{
        width: 75%;
    }

    .bottom-border{
        width: 250px;
    }

    .left-bar-title:first-of-type {
        margin-top: 60px;
        padding-right: 0;
    }
    
    .specializations {
        align-self: center;
        width: 220px;
        text-align: center;
        padding-right: 0;
        margin-top: 7px;    
        margin-bottom: 0;
        color: #000;
        font-size: 16px;
    }

    .specializations:last-of-type{
        margin-bottom: 60px;
    }

    .left-bar{
        width: 100%;
        justify-content: space-evenly;
    }

    .left-bar-title{
        padding-right: 0;
        font-size: 20px;
        align-self: center;
        /* margin: 10px 0 10px 0; */
        letter-spacing: 5px;
    }

    .right-bar {
        align-self: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        background: #fcfcfc;
        /* justify-content: center; */
    }

    .right-bar-heading:first-of-type{
        margin-top: 60px;
    }

    .signature{
        margin-bottom: 60px;
    }
}